{% extends 'main/layout.html' %}

{% block title %}Раздел 1{% endblock %}

{% block content %}
    <div class="features">
        <h1>Раздел 1. Программное обеспечение для обработки звуковой информации. Назначение и виды</h1>
        <p align="center"> «Введение. Цели и задачи курса. Инструктаж по технике безопасности. Демонстрация технических возможностей современных программ для обработки звука»</p>
        <button class="btn btn-danger">Перейти</button>
        <p align="center"> «Форматирование аудиофайла с помощью возможностей сервиса АудиоМастер. Индивидуальная работа обучающихся со звуковым файлом. Обработка файла и наложение эффектов.»</p>
        <button class="btn btn-danger">Перейти</button>
        <p align="center"> «Звук. Форматы звуковых файлов. Программы для обработки звука»</p>
        <button class="btn btn-danger">Перейти</button>
        <p align="center">«Знакомство с интерфейсом программы Acoustica Mixcraft 9»</p>
        <button class="btn btn-danger">Перейти</button>
        <p align="center">«Работа с Cross DJ. Микширование аудио-дорожек. Знакомство с интерфейсом»</p>
        <button class="btn btn-danger">Перейти</button>
        <p align="center">«MAGIX Music Maker. Создание музыкальной композиции с помощью библиотеки звуков.»</p>
        <button class="btn btn-danger">Перейти</button>


    </div>
{% endblock %}