{% extends 'main/layout.html' %}

{% block title %}Раздел 2{% endblock %}

{% block content %}
    <div class="features">
        <h1>Раздел 2. Изучение онлайн сервисов для обработки звуковой информации.</h1>
        <p align="center"> "Онлайн сервисы для обработки звуковой информации" </p>
        <button class="btn btn-danger">Перейти</button><br>
        <p align="center"> "Soundation.com. Обзор жанровых сэмплов. Создание музыкального фрагмента определенного жанра" </p>
        <button class="btn btn-danger">Перейти</button><br>
        <p align="center">"Soundtrap.com. Совместное создание музыкальных композиций в режиме онлайн"</p>
        <button class="btn btn-danger">Перейти</button>
        <p align="center">"Итоговое занятие. Составление презентации сравнительных характеристик изученных онлайн сервисов"</p>
        <button class="btn btn-danger">Перейти</button>

    </div>
{% endblock %}