body {
    background: #2c2c2c;
}
aside{
    float: left;
    background: #181818;
    width:20%;
    padding: 2.5%;
    height: 100vh;
    color: #ffffff;
    border-right: 5px solid #4d4d4d;
}

aside .logo
{
    float: left;
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -5px;
}
aside h3
{
    margin-top: 50px;
    font-size: 28px;
}
aside ul {list-style: none}
aside ul li{
    color: #ffffff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}
aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}
main .features{
    float: left;
    color: #ffffff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}
main .features h1 {font-size: 50px;}
main .features p {max-width: 400px;margin: 20px auto}

.btn-success{
    float: bottom;
}

.alert-warning{
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
}


form{
    margin-left:32%;
    width: 500px;
    margin-top: 50px;
}
.dws{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.butt{
    border: 3px solid #218294;
    font-size: 30px;
    color: #218294;
    text-decoration: none;
    text-transform: uppercase;
    width: 250px;
    height: 60px;
    display: block;
    text-align: center;
    line-height: 60px;
    font-family: Arial, sans-serif;
    position: relative;
    transition-delay: .5s;
    overflow: hidden;
}

.butt::before,
.butt::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #218294;
    top: 0;
    left:-100%;
    opacity: .5%;
    transition: .3s;
    z-index: -1;
}
.butt::after{
    opacity: 1;
    transition-delay: .1s;
}
.butt.hover{
    color: #ffffff;
}
.butt:hover::before,
.butt:hover::after{
    left:0;
}